
#footer_text{
    list-style: none;
    margin-bottom: 5px;
}

.textbottom{
    color:#232062;
    font-size: larger;
    font-weight: 500px; 
    margin-Left: 80px;
}


@media print {
    .noprint {
       visibility: hidden;
    }
 }