@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');




.ticker {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 40px;
    margin-top: 5px; 
    margin-bottom: 30px;
}

.news {
    width: 80%;
    background: #9FA6B2;
    padding: 0 2%
}

.title {
    width: 20%;
    text-align: center;
    background: #3eb015;
    position: relative;
    height : 50px;
}

.title:after {
    position: absolute;
    content: "";
    right: -22%;
    border-left: 20px solid #d48311;
    border-top: 28px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 21px solid transparent;
    top: 0px
}

.title h5 {
    font-size: 18px;
    margin: 8% 0
}

.news marquee {
    font-size: 18px;
    margin-top: 12px
    
}

.news-content p {
    margin-right: 41px;
    display: inline;
    
    
}